// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #F1F1E6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// Responsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% - 1rem = 10px;#

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  // Define the grid for the final layout. 6 rows for the 6 sections of the page
  // Header (80vh) features (min-content) story (40vw) homes, gallery and footer (min-content)
  grid-template-rows: 100vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [centre-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [centre-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
    // Change the layout for smaller screens. Remove the first column and add a new row
    // Sidebar (6rem) header (80vh) features (min-content) story (40vw) homes, gallery and footer (min-content)
  grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [centre-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [centre-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem);
}
}

.navigation {
  font-family: $font-display;

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-primary;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 4rem;
    left: 4rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($color-primary, .1);
    text-align: center;
    cursor: pointer;
    z-index: 2000;


    @media only screen and (max-width: $bp-large) {
      top: .4rem;
      left: 0;
    }
  }

  // Navigation background when open
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    left: 4rem;
    background: $color-primary;
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    @media only screen and (max-width: $bp-large) {
      top: .4rem;
      left: 0;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    // Hide the nav
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    font-family: $font-display;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    // visibility: hidden;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-family: $font-display;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-secondary;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-secondary 50%);
      background-size: 250%;
      transition: all .4s;

    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      font-weight: 700;
      transform: translateX(1rem);
    }
  }

  // Checkbox to open the nav
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__checkbox:checked ~ &__nav &__list {
    visibility: visible;
  }


  // Icon styling
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: .2rem;
      background-color: $color-secondary;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all .4s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }
  }

  &__checkbox + &__button &__icon {
      // background-color: transparent;
      transition: 1.5s;
  }

  &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
        transition: .1s;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

}
